<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('./components/templates/Head') %> 
</head>

<body>
    <%# Preload %>
    <%- include('./components/templates/Preload') %> 

    <%# Menu Lateral %>
    <%- include('./components/templates/MenuLateral', {
        header__tutorial__button,
        header__topicos__topico1,
        header__topicos__topico2,
        header__topicos__topico3,
        header__topicos__topico4,
        lang
    }) %> 

    <%# Formulário Mensagem %>
    <%- include('./components/templates/Formulario') %> 

    <main id="conteudo" class="main">

        <%# Topo Pesquisar/Login/Cadastro %>
        <%- include('./components/templates/Topo', { main__topo__pesquisar__campo }) %> 

        <%# Seção 1 - Introdução %>
        <%- include('./components/templates/Sec__Intro', {
            infos: [
                {
                    title: section1__title,
                    content: [section1__content],
                    hashtag: section1__hashtag, 
                },
                {
                    quadro: 'cubo',
                }
            ]
        }) %> 
        

        <%# Seção 2 - Recursos %>
        <%- include('./components/templates/Sec__Recursos', {
            cards: [
                {
                    icon: section2__card1__icon,
                    title: section2__card1__title,
                    content: section2__card1__content,
                },{                                                                                    
                    icon: section2__card2__icon,
                    title: section2__card2__title,
                    content: section2__card2__content,
                },{
                    icon: section2__card3__icon,
                    title: section2__card3__title,
                    content: section2__card3__content,
                    btn_text: section2__card3__button,
                },
            ] 
        }) %> 

        <%# Seção 3 - Tutorial %>
        <%- include('./components/templates/Sec__Tutorial', {
            section3__title,
            section3__content,
            section3__aparelho1,
            section3__aparelho2,
            lang,
        }) %> 

        <%# Seção 4 - Mecânica Clássica %>
        <%- include('./components/templates/Sec__Intro', {
            infos: [
                {
                    id: `mecanica-classica`,
                    title: section4__title,
                    content: section4__content,
                },
                {
                    imgs: [
                        `/img/newton.png`,
                    ]
                }
            ]
        }) %> 

        <%# Seção 5 - Mecânica Clássica - Cinemática %>

        <%- include('./components/templates/Sec__Intro', {
            infos: [
                {
                    title: section5__title,
                    content: section5__content,
                }
            ]
        }) %>
        

        <%# Rodapé %>
        <%- include('./components/templates/Footer') %> 

        <div id="apple">
            <div class="sec">
                <img class="apple" src="/img/apple.png">
            </div>
        </div>

    </main>
    
    <canvas id="wallpaper"></canvas>

    <%- include('./components/templates/Scripts') %> 

</body>

</html>