<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/templates/Head') %> 
</head>

<body>
    <!-- Preload -->
    <div id="preload"></div>

    <!-- Menu Lateral -->
    <%- include('./components/templates/MenuLateral', {
        header__tutorial__button,
        header__topicos__topico1,
        header__topicos__topico2,
        header__topicos__topico3,
        header__topicos__topico4,
        lang
    }) %> 

    <!-- Formulário Mensagem -->
    <%- include('./components/templates/Formulario') %> 

    <main id="conteudo" class="main">

        <!-- Topo Pesquisar/Login/Cadastro -->
        <%- include('./components/templates/Topo', { main__topo__pesquisar__campo }) %> 

        <!-- Seção 1 - Introdução -->
        <%- include('./components/templates/Sec__Intro', {
            infos: [
                {
                    title: section1__title,
                    content: section1__content,
                    hashtag: section1__hashtag, 
                },
                {
                    quadro: 'glowscript1',    
                }
            ]
        }) %> 
        

        <!-- Seção 2 - Recursos -->
        <%- include('./components/templates/Sec__Recursos', {
            cards: [
                {
                    icon: section2__card1__icon,
                    title: section2__card1__title,
                    content: section2__card1__content,
                },{                                                                                    
                    icon: section2__card2__icon,
                    title: section2__card2__title,
                    content: section2__card2__content,
                },{
                    icon: section2__card3__icon,
                    title: section2__card3__title,
                    content: section2__card3__content,
                    btn_text: section2__card3__button,
                },
            ] 
        }) %> 

        <!-- Seção 3 - Tutorial -->
        <%- include('./components/templates/Sec__Tutorial', {
            section3__title,
            section3__content,
            section3__aparelho1,
            section3__aparelho2,
            lang,
        }) %> 

        <%- include('./components/templates/Footer') %> 
        
    </main>

    <canvas id="wallpaper"></canvas>

    <%- include('./components/templates/Scripts') %> 

</body>

</html>