<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('./components/templates/Head') %> 
</head>

<body>
    <%# Preload %>
    <%- include('./components/templates/Preload') %> 

    <%# Menu Lateral %>
    <%- include('./components/templates/MenuLateral') %> 

    <%# Formulário Mensagem %>
    <%- include('./components/templates/Formulario') %> 

    <main id="conteudo" class="main">

        <%# Topo Pesquisar/Login/Cadastro %>
        <%- include('./components/templates/Topo', {
            main__topo__pesquisar__campo,
            main__topo__singUp,
            main__topo__logIn
        
        }) %> 

        <%# Seção 1 - Introdução %>
        <%- include('./components/templates/Sec__Intro', {
            infos: [
                {
                    title: section1__title,
                    content: [section1__content],
                    hashtag: section1__hashtag, 
                },
                {
                    quadro: 'cubo',
                }
            ]
        }) %> 
        

        <%# Seção 2 - Recursos %>
        <%- include('./components/templates/Sec__Recursos', {
            cards: [
                {
                    icon: section2__card1__icon,
                    title: section2__card1__title,
                    content: section2__card1__content,
                },{                                                                                    
                    icon: section2__card2__icon,
                    title: section2__card2__title,
                    content: section2__card2__content,
                },{
                    icon: section2__card3__icon,
                    title: section2__card3__title,
                    content: section2__card3__content,
                    btn_text: section2__card3__button,
                },
            ] 
        }) %> 

        <%# Seção 3 - Tutorial %>
        <%- include('./components/templates/Sec__Tutorial', {
            section3__title,
            section3__content,
            section3__aparelho1,
            section3__aparelho2,
            lang,
        }) %> 

        <%# Seção 4 - Mecânica Clássica %>
        <%- include('./components/templates/Sec__Intro', {
            infos: [
                {
                    id: `mecanica-classica`,
                    title: section4__title,
                    content: section4__content,
                },
                {
                    imgs: [
                        `/img/newton.png`,
                    ]
                }
            ]
        }) %> 

        <%# Seção 5 - Mecânica Clássica - Cinemática %>

        <%- include('./components/templates/Sec__Intro', {
            infos: [
                {
                    title: section5__title,
                    content: section5__content,
                },
                {
                    quadro_title: `Simulação 1.1`,
                    quadro: `referencial`,
                    controls: [
                        {
                            btn: {id: `btn-referencial`, name: `Iniciar`}
                        },{
                            follow: {id: `follow-referencial`, name: `Entrar`}
                        },{
                            input: {id: `vel-referencial`, name: `V`, preText: `Velocidade: `, posText: ` m/s`}
                        }
                    ]
                }
            ]
        }) %>

        <%# Seção 6 - Mecânica Clássica - Cinemática %>

        <%- include('./components/templates/Sec__Intro', {
            infos: [
                {
                    content: section6__content1,
                },
                {
                    content: section6__content2,
                }
            ]
        }) %>

        <%# Seção 7 - Mecânica Clássica - Cinemática [FAZER AQUI O NEGOCIO DE DESLOCAMENTO X DISTANCIA PERCORRIDA] %>
        <%- include('./components/templates/Sec__Intro', {
            infos: [
                {
                    quadro_title: `Simulação 1.2`,
                    quadro: `deslocamento`,
                    dadosquadro: section7__dadosquadro,
                    controls: [
                        {
                            btn: {id: `btn-deslocamento`, name: `Iniciar`}
                        },{
                            follow: {id: `follow-deslocamento`, name: `Deslocar`}
                        }
                    ]
                },{
                    content: section7__content,
                }
            ]
        }) %> 

        <%# Seção 8 - Mecânica Clássica - Cinemática cálculo da distancia percorrida %>

        <%- include('./components/templates/Sec__Intro', {
            infos: [
                {
                    content: section8__content1,
                },
                {
                    content: section8__content2,
                }
            ]
        }) %>

        <%# Seção 9 - Mecânica Clássica - Cinemática Escalar %>

        <%- include('./components/templates/Sec__Intro', {
            infos: [
                {
                    title: section9__title,
                    content: section9__content,
                },
                {
                    quadro_title: `Simulação 1.3`,
                    quadro: `velocidade`,
                    controls: [
                        {
                            btn: {id: `btn-velocidade`, name: `Iniciar`}
                        },{
                            follow: {id: `follow-velocidade`, name: `Entrar`}
                        },{
                            reset: {id: `reset-velocidade`, name: `Reset`}
                        },{
                            input: {id: `vel-velocidade`, name: `V`, preText: `Vel: `, posText: ` m/s`}
                        },{
                            input: {id: `vel-velocidade-media`, name: `0`, preText: `VelMed: `, posText: ` m/s`}
                        }
                    ],
                }
            ]
        }) %>

        <%# Seção 10 - Mecânica Clássica - velocidade média %>

        <%- include('./components/templates/Sec__Intro', {
            infos: [
                {
                    content: section10__content1,
                },
                {
                    content: section10__content2,
                }
            ]
        }) %>
        

        <%# Rodapé %>
        <%- include('./components/templates/Footer') %> 

        <%# <div id="apple">
            <div class="sec">
                <img class="apple" src="/img/apple.png">
            </div>
        </div> %>

    </main>
    
    <canvas id="wallpaper"></canvas>

    <%- include('./components/templates/Scripts') %> 

</body>

</html>