<header id="menu__lateral" class="header">
    <a href="#topo"><canvas id="canvas1" width=188></canvas></a>
    <hr class="header__hr">

    <a href="#cilindro" id="tutorial">
        <div class="header__tutorial">
            <button class="header__tutorial__button">
                <%= header__tutorial__button %>
            </button>
        </div>
    </a>   

    <div class="header__topicos">
        <% header__topicos__btn.forEach(topico => { %>
            <a id="<%= topico.id %> " href="<%= topico.href %> " class="header__topicos__topico">
                <%= topico.name %>
            </a>
        <% }) %>
    </div>

    <div class="header__langs">
        <a class="header__langs__lang <%- lang === 'pt-Br' ? 'selec' : '' %> " href="/">Pt-Br</a>
        <a class="header__langs__lang <%- lang === 'en' ? 'selec' : '' %> " href="/en">En</a>
    </div>

    <a href="#rodape" id="referencias">
        <%= header__topicos__referencias %>
    </a>

    <div id="menu__lateral__seta" class="header__seta"></div>
</header>