<section class="section">
    <div class="col">
        <div class="quadro">
            <div id="cilindro" class="glowscript"> </div>
        </div>
    </div>
    <div class="col">
        <div class="title">
            <%= section3__title %>
        </div>
        <div class="content">
            <%= section3__content %>
        </div>
        <div class="aparelhos">
            <div class="aparelho">
                <button id="celular"></button>
                <%= section3__aparelho1 %>
                <div class="<%= lang %>"></div>
            </div>
            <div class="aparelho">
                <button id="computador"></button>
                <%= section3__aparelho2 %>
                <div class="<%= lang %>"></div>
            </div>
        </div>
        
    </div>
</section>