    <section class="section">

        <% infos.forEach(info => { %>
    
            <div class="col"  <% if (info.id) { %> id= <%= info.id %>  <% } %>>
                <%# TITLE COL %>
                <% if (info.title) { %>
                    <div class="title"> <%= info.title %> </div>
                <% } %>
    
                <%# CONTENT COL %>
                <% if (info.content) { %>
                 
                    <div class="content">
                        <ul>
                            <% info.content.forEach(content => { %>
                                <li><p><%= content %></p></li>
                            <% }) %>
                        </ul>

                        <% if (info.hashtag) { %>
                            <br>
                            <%= info.hashtag %>
                        <% } %>

                    </div>
    
                <% } %>
                
                <%# QUADRO COL %>
                <% if (info.quadro) { %>
                    <div class="quadro">
                        <div id=<%= info.quadro %>  class="glowscript"> </div>
                    </div>
                <% } %>

                <%# IMAGENS COL %>
                <% if (info.imgs) { %>
                    <div class="imgs">
                        <% info.imgs.forEach(url => { %>
                            <img class="img" src= "<%= url %>" >
                        <% }) %>
                    </div>
                <% } %>
    
            </div>
    
        <% }) %>
        
    </section>